<div class="summary-section">
  <div class="grid-row grid-gap">
    <div class="grid-col-4">
      <h2>Complaint #<%= complaint.id %></h2>
    </div>
    <div class="grid-col-4">
      <a href="<%= complaint.hses_link %>" target="_blank">Open in HSES</a>
    </div>
  </div>
  <div class="grid-row grid-gap">
    <div class="grid-col-7">
      <div>
        <span class="usa-tag"><%= complaint.priority %> </span>
        <span class="usa-tag"><%= complaint.status %> </span>
      </div>
      <p class="usa-prose">
        <%= complaint.summary %>
      </p>
    </div>
    <div class="grid-col-5">
      <div class="display-flex flex-justify">
        <strong> Opened:</strong> 
        <span><%= complaint.formatted_creation_date %> </span>
      </div>
      <div class="display-flex flex-justify">
        <strong> Last Updated:</strong> 
        <span><%= complaint.formatted_issue_last_updated %> </span>
      </div>
    </div>
  </div>
</div>
