<div class="details-header">
  <div class="grid-container">
    <h1><%= @grantee.name %></h1>
    <h2>Grantee #<%= @grantee.id %>, Region <%= @grantee.region %></h2>
  </div>
</div>
<div class="details-body grid-container">
  <div class="grid-row grid-gap">
    <div class="grid-col-4">
      <div class="summary-section summary-body">
        <h2>Summary</h2>
        <p class="display-flex flex-justify">
          <span> Total Centers:</span> 
          <span><%= @grantee.centers_total %> </span>
        </p>
        <p class="display-flex flex-justify">
          <span> FY21 Complaints:</span> 
          <span><%= @grantee.complaints_per_fy %> </span>
        </p>
        <a href="<%= @grantee.hses_link %>" 
        class="usa-button width-full" target="_blank">Open in HSES</a>
      </div>
      <div class="summary-section summary-body">
        <h2>Open Issues</h2>
      </div>
    </div>
    <div class="grid-col-8">
      <ul class="usa-process-list" style="padding-top: 0rem;">
        <% @grantee.complaints.each do |complaint| %>
          <li style="padding-bottom: 20px;">
            <%= render "complaints_list_detail", complaint: complaint %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
