<% complaint = Complaint.new(complaint_data) %>

<tr>
  <th scope="row" role="rowheader">
    <span class="<%= complaint.new? ? "text-bold" : "" %>">
      <%= link_to complaint.id, complaint_path(complaint.id), class: "usa-link" %>
    </span>
  </th>
  <td
    data-sort-value="<%= sort_date(complaint.creation_date) %>"
  >
    <%= complaint.formatted_creation_date %>
  </td>
  <td
    data-sort-value="<%= sort_status(complaint.status) %>"
  >
    <%= complaint.status %>
  </td>
  <td><%= complaint.grantee %></td>
  <td><%= truncate(complaint.summary) %></td>
  <td><%= "Yes" if complaint.has_tta_report? %></td>
  <td><%= "Yes" if complaint.has_monitoring_review?%></td>
</tr>
