<table class="usa-table">
  <caption>
    Complaints associated with this user. Data for illustration purposes only.
  </caption>
  <thead>
    <tr>
      <th scope="col" role="columnheader">HSES Issue #</th>
      <th
        data-remote-sortable
        scope="col"
        role="columnheader"
        <%= sanitize aria_sort("creationDate") %>
        data-next-sort="<%= complaints_path(page: 1, sort: next_sort_direction("creationDate")) %>"
      > Date Created </th>
      <th scope="col" role="columnheader"> Status </th>
      <th scope="col" role="columnheader"> Grantee </th>
      <th scope="col" role="columnheader"> Summary </th>
      <th scope="col" role="columnheader"> TTA </th>
      <th scope="col" role="columnheader"> RAN </th>
    </tr>
  </thead>
  <tbody>
  <% @complaints.each do |complaint| %>
    <%= render "complaints/complaints_table_detail", complaint_data: complaint %>
  <% end %>
  </tbody>
</table>
<div class="usa-sr-only usa-table__announcement-region" aria-live="polite">
  <!-- this content will change when sort changes -->
</div>

<%= render partial: 'complaints/pagination', locals: {pagy: @pagy} %>

<%= javascript_pack_tag 'complaint-sort' %>
