<tr>
  <% formatted_status = status(complaint[:attributes]) %>
  <th scope="row" role="rowheader">
    <span class="<%= formatted_status == "New" ? "text-bold" : "" %>">
      <%= complaint[:id] %>
    </span>
  </th>
  <td 
    data-sort-value="<%= DateTime.parse(complaint[:attributes][:creationDate]).to_i %>"
  >
    <%= DateTime.parse(complaint[:attributes][:creationDate]).strftime("%m/%d/%Y") %>
  </td>
  <td
    data-sort-value="<%= ComplaintsHelper::STATUS_SORT_ORDER[formatted_status] %>"
  >
    <%= formatted_status %>
  </td>
  <td><%= complaint[:attributes][:grantee] %></td>
  <td><%= truncate(complaint[:attributes][:issue]) %></td>
  <td> TBD </td>
  <td> TBD </td>
</tr>
