<div> 
  <div class="ct-tta-divider display-flex flex-justify" id="tta-activity-show-<%= issue_tta_report.tta_report_display_id %>">
    <div><%= issue_tta_report.tta_report_display_id %></div>
    <div>
      <%= button_tag image_pack_tag("media/usa-icons/edit.svg", alt: "Edit Display ID"),
        class: "ct-link-icon usa-button--unstyled js-edit-tta",
        "aria-label": "Edit Display ID",
        "data-display-id": issue_tta_report.tta_report_display_id
      %>
      <%=  button_tag image_pack_tag("media/usa-icons/link_off.svg", alt: "Unlink Display ID"),
        class: "usa-button--unstyled", 
        id: "js-unlink-tta-report",
        "aria-label": "Unlink Display ID",
        disabled: true
      %>
    </div>
  </div>
  <div class="display-none" id="edit-tta-activity-<%= issue_tta_report.tta_report_display_id %>">
    <%= render "tta_edit_activity_report", issue_tta_report: issue_tta_report %>
  </div>
</div>
