<div class="ct-section-divider">
  <p>
    <div class="display-flex flex-justify margin-bottom-2"> 
      <span> Activity Report ID</span>
      <%= button_to "Cancel", "#js-add-tta-report", class: "usa-link usa-button--unstyled", id: "js-close-tta-form" %>
    </div>
    <div>
      <%= form_with url: issue_tta_reports_path, method: "post", class: "usa-search display-flex", id: "tta-report-form"  do %>
        <%= label_tag "tta-report-display-id", "TTA report display ID", class: "usa-sr-only", id: "tta-report-label" %>
        <%= text_field_tag :tta_report_display_id, nil, id: "tta-report-display-id", "aria-describedBy": "tta-report-label" %>
        <%= hidden_field_tag(:issue_id, @complaint.id) %>
        <%= submit_tag "Link", class: "usa-button usa-search__submit-text" %>
      <% end %>
    </div>
  </p>
</div>
