<div class="details-header">
  <div class="grid-container">
    <h1>Issue #<%= @complaint.id %></h1>
  </div>
</div>
<div class="details-body grid-container">
  <div class="grid-row grid-gap">
    <div class="grid-col-4">
      <div class="summary-section">
        <div class="ct-section-divider">
          <h2>Summary</h2>
          <p>
            <strong><%= @complaint.grantee %>:</strong>
            <%= @complaint.summary %>
          </p>
        </div>
        <% if @issue_tta_reports.present? %>
           <div>
            <p>
              TTA Activity:
                <div>
                  <%= render partial: "issue_tta_report", collection: @issue_tta_reports %>
                </div>
            </p>
          </div>
        <% end %>
        <div class="display-none" id="tta-activity-form">
          <%= render "tta_create_activity_report" %>
        </div>
        <div class="ct-section-divider display-flex flex-align-center">
          <%= image_pack_tag "media/usa-icons/link.svg", class: "ct-link-icon", id: "tta-report-icon", "aria-hidden": true %>
          <%= button_to "Link TTA Activity Report", "#tta-report-id", {
            class: "usa-link usa-button--unstyled ct-add-report-link",
            id: "js-add-tta-report",
            role: "button"
            }
          %>
        </div>
      </div>
    </div>
    <div class="grid-col-8">
      <div class="summary-section">
        <h2 class="ct-section-divider ct-timeline__two-part-container">
          <%= status(@complaint.attributes) %>
          <span class="ct-timeline__date">
            <% if !@complaint.due_date? %>
              No Due Date
            <% else %>
                <%= sanitize @complaint.relative_due_date_html %>
            <% end %>
          </span>
        </h2>
        <ul class="usa-process-list">
          <% @complaint.events.each do |event| %>
            <li class="usa-process-list__item usa-process-list__item-disc">
              <h3 class="usa-process-list__heading ct-timeline__two-part-container">
                <%= @complaint.event_label(event[:name]) %>
                <span class="ct-timeline__date"><%= event[:date].strftime("%m/%d/%Y") %></span>
              </h3>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="margin-y-3">
  <div
    class="usa-modal"
    id="unlink-modal"
    aria-labelledby="unlink-modal-heading"
    aria-describedby="unlink-modal-description"
  >
    <div class="usa-modal__content">
      <div class="usa-modal__main">
        <h2 class="usa-modal__heading" id="unlink-modal-heading">
          Are you sure you want to unlink this TTA activity report?
        </h2>
        <div class="usa-prose">
          <p id="unlink-modal-description">
            This will remove the report from this complaint, but will not delete the report from TTA Hub 
          </p>
        </div>
        <div class="usa-modal__footer">
          <ul class="usa-button-group">
            <li class="usa-button-group__item">
            <%= form_with url: unlink_tta_report_path(@complaint.id), method: "delete" do %>
              <%= hidden_field_tag :tta_report_display_id, nil, id: "hidden-tta-display_id" %>
              <%= submit_tag "Yes, remove the link", class: "usa-button" %>
            <% end %>
            </li>
            <li class="usa-button-group__item">
              <button
                type="button"
                class="usa-button usa-button--unstyled padding-105 text-center ct-close-modal"
                data-close-modal
              >
                Go back
              </button>
            </li>
          </ul>
        </div>
      </div>
      <button
        class="usa-button usa-modal__close ct-close-modal"
        aria-label="Close this window"
        data-close-modal
      >
        <%= image_pack_tag "media/usa-icons/close.svg", class: "usa-icon", "aria-hidden": true, focusable: false %>
      </button>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'tta-report' %>
