<div class="details-header">
  <div class="grid-container">
    <h1>HSES Issue #<%= @complaint.id %></h1>
  </div>
</div>
<div class="details-body grid-container">
  <div class="grid-row grid-gap">

    <%# SUMMARY %>

    <div class="grid-col-4">
      <div class="summary-section summary-body">
        <div class="ct-section-divider">
          <h2>Summary</h2>
          <p>
            <strong><%= @complaint.grantee %>:</strong>
            <%= @complaint.summary %>
          </p>
        </div>

        <% if @issue_tta_reports.present? %>
          <div>
            <h3>TTA Activity:</h3>
            <div>
              <%= render partial: "issue_tta_report", collection: @issue_tta_reports %>
            </div>
          </div>
        <% end %>

        <% if @issue_monitoring_reviews.present? %>
          <div>
            <h3>RAN activity:</h3>
            <div>
              <%= render partial: "issue_monitoring_review", collection: @issue_monitoring_reviews %>
            </div>
          </div>
        <% end %>

        <%= render "tta_create_activity_report" %>
        <%= render "monitoring_create_review" %>

        <%= render partial: "complaints_open_new_linked_item",
          locals: {
            label: "Link TTA Activity Report",
            type: "tta-report" }
          %>
        <%= render partial: "complaints_open_new_linked_item",
          locals: {
            label: "Link RAN Review",
            type: "monitoring-review" }
        %>
      </div>
    </div>

    <%# STATUS AND TIMELINE %>

    <div class="grid-col-8">
      <div class="summary-section summary-body">
        <h2 class="ct-section-divider ct-timeline__two-part-container">
          <%= @complaint.status %>
          <span class="ct-timeline__date">
            <% if !@complaint.due_date? %>
              No Due Date
            <% else %>
                <%= sanitize @complaint.relative_due_date_html %>
            <% end %>
          </span>
        </h2>
        <ul class="usa-process-list">
          <% @timeline.events.each do |event| %>
            <li class="usa-process-list__item usa-process-list__item-disc">
              <%= render partial: event.timeline_partial, locals: {event: event} %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= render partial: "complaint_unlink_modal", locals: {
  item: "tta",
  item_system: "TTA Hub",
  item_type: "TTA activity report",
  unlink_path: "unlink_tta_report_path",
  hidden_tag_name: "tta_report_display_id",
  hidden_tag_id: "hidden-tta-display_id"
} %>

<%= render partial: "complaint_unlink_modal", locals: {
  item: "monitoring",
  item_system: "IT-AMS",
  item_type: "RAN review",
  unlink_path: "unlink_monitoring_review_path",
  hidden_tag_name: "monitoring_review_id",
  hidden_tag_id: "hidden-monitoring_review_id"
} %>

<%= javascript_pack_tag 'complaint-links' %>
